<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./block-css.css">
    <link rel="stylesheet" href="../font2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap">
</head>
<header>
    <div class="container-header">
        <img src="../Img/anh0.jpg" alt="">
        <div class="right-header">
            <a href="#">Đăng kí</a> | <a href="#">Đăng nhập</a>
        </div>
    </div>
</header>
<nav>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li>
            <a href="#">Content</a>
            <ul class="sub-menu">
                <li><a href="#">Sub1</a></li>
                <li><a href="#">Sub2</a></li>
                <li><a href="#">Sub3</a></li>
            </ul>
        </li>
        <li><a href="#" onclick="testSearch()">Contact</a></li>
        <li><a href="#">Help</a></li>
    </ul>
</nav>

<body>
    <div class="box-class">
        <div class="container">
            <div class="box-content">
                <div class="class-item1">
                    <div class="box1">
                        <h2 id="hvn"></h2>
                        <a href="#img">
                            <img src="../Img/1.jpg" alt="image">
                        </a>
                        <h3><a href="#title">hahahỳhvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvah</a>
                        </h3>
                    </div>
                    <div class="box2">
                        <div class="item">it1</div>
                        <div class="item">it2</div>
                        <div class="item">it3</div>
                        <div class="item">it4</div>
                    </div>
                </div>
                <div class="class-item2">
                    Box2
                </div>
            </div>

            <div class="paragraph">
                <div class="p1">
                    <p>Bãi bỏ Thông tư liên tịch số 32/2000/TTLT-BTC-BVHTT ngày 26 tháng 4 năm 2000 của liên Bộ Tài
                        chính
                        và Bộ Văn hóa - Thông tin hướng dẫn chế độ quản lý tài chính đói với các cơ sở ngoài công lập
                        hoạt
                        động trong lĩnh vực văn hóa
                    </p>
                </div>
                <div class="p2">
                    hihih
                </div>
            </div>
        </div>
        <div style="background-color: white; text-align: center;">
            <!-- <button id="but" style="padding: 10px 20px;" onclick="changeClass()">Table</button> -->
            <input style="padding: 10px 20px;" onclick="changeClass()" type="button" name="" value="List" id="but">
        </div>
        <div class="box-item-flex" id="box-item-flex">
            <div class="item-flex">
                <div class="photo">
                    <img src="../Img/img1.jpg" alt="">
                    <i class="icon"></i>
                </div>
                <div class="info">
                    <h3>product 1</h3>
                    <p>abdfhbaksfdbnkajsndfkanskjdnak</p>
                </div>
            </div>
            <div class="item-flex">
                <div class="photo">
                    <img src="../Img/img1.jpg" alt="">
                    <i class="icon"></i>
                </div>
                <div class="info">
                    <h3>product 2</h3>
                    <p>abdfhbaksfdbnkajsndfkanskjdnak</p>
                </div>
            </div>
            <div class="item-flex">
                <div class="photo">
                    <img src="../Img/img1.jpg" alt="">
                    <i class="icon"></i>
                </div>
                <div class="info">
                    <h3>product 3</h3>
                    <p>abdfhbaksfdbnkajsndfkanskjdnak</p>
                </div>
            </div>
            <div class="item-flex">
                <div class="photo">
                    <img src="../Img/img1.jpg" alt="">
                    <i class="icon"></i>
                </div>
                <div class="info">
                    <h3>product 4</h3>
                    <p>abdfhbaksfdbnkajsfkanskj school</p>
                </div>
            </div>
        </div>

    </div>
    <a href="#" class="icon-backtop"></a>
</body>
<script>
    function testSearch() {
        var confirm = window.confirm("Chuyển sang 1 trang web khác")
        if (confirm) {
            window.open(`https://www.facebook.com/truongle204`)
        } else {
            alert("Bạn vừa bỏ lỡ cơ hội gặp trai đẹp")
        }
    }

    function updateTime() {
        var today = new Date();
        var date = today.getDate().toString().padStart(2, '0') + '-' + (today.getMonth() + 1).toString().padStart(2, '0') + '-' + today.getFullYear();

        // Sử dụng padStart để đảm bảo rằng giờ, phút và giây luôn có 2 chữ số
        var hours = today.getHours().toString().padStart(2, '0');
        var minutes = today.getMinutes().toString().padStart(2, '0');
        var seconds = today.getSeconds().toString().padStart(2, '0');

        var time = hours + ":" + minutes + ":" + seconds;
        var dateTime = date + ' ' + time;

        document.getElementById("hvn").innerHTML = dateTime;
    }

    setInterval(updateTime, 1000);

    updateTime();

    function changeClass() {
        var element = document.getElementById("box-item-flex");
        element.classList.toggle('box-item-flex2')

        var butName = document.getElementById('but');

        if (element.classList.contains('box-item-flex2')) {
            butName.setAttribute('value', "Grid");
        } else {
            butName.setAttribute('value', "List");
        }
    }
</script>

</html>