<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style-index.css">
</head>

<body>

    <div>
        <div>1</div>
        <div>2</div>
    </div>
    <div>3</div>

    <ul>
        <li>1</li>
        <li>2</li>
        <li>
            <div><button>haha</button></div>
        </li>
    </ul>

    <ol>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ol>

    <a href="#">Link</a>

    <img src="../Img/1.jpg" alt="" width="100px" height="180px">

    <h1>Title</h1>
    <h2>heading 2</h2>
    <h3>Content</h3>

    <input type="button" value="button"><br>
    <br>
    <select name="" id="" title="select-demo">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
    </select>

    <ul>
        <li>
            <label for="name">Name</label>
            <input type="text" id="name">
        </li>
        <li>
            <label for="checkbox">Checkbox</label>
            <input type="checkbox" id="checkbox">
        </li>
    </ul>

    <div class="class-content">
        <div class="class-name1">
            <p>Hello world! This is class-content1</p>
        </div>
        <div class="class-name2">
            <p>Hello world! This is class-content2</p>
        </div>
        <div class="class-name3">
            <p>Hello world! This is class-content3</p>
        </div>
    </div>
</body>
</html>