body{
    margin: auto;
    max-width: 980px;
}

.class-content{
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    padding: 20px 10px;
    text-align: center;
}

.class-content .class-name1{
    text-align: center;
    color: red;
    background-color: bisque;
    padding: 10px 10px;
    /* float: left; */
    /* flex: 0 0 30%; */
    margin: auto;
    display: inline-block
}

.class-content .class-name2{
    text-align: center;
    color: red;
    background-color: bisque;
    padding: 10px 10px;
    /* flex: 0 0 30%;
    float: right; */
    margin: auto;
    display: inline-block
}

.class-content .class-name3{
    text-align: center;
    color: red;
    background-color: bisque;
    padding: 10px 10px;
    /* flex: 0 0 30%;
    float: left; */
    margin: auto;
    display: inline-block
}