<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final</title>
    <link rel="stylesheet" href="../controller/controller.js">
    <link rel="stylesheet" href="../style/index-style.css">
    <link rel="stylesheet" href="../css/fontello.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
</head>
<header>
    <div class="header">
        <div class="icon">
            <i class="icon-facebook"></i>
            <i class="icon-gplus"></i>
            <i class="icon-twitter"></i>
            <i class="icon-youtube-play"></i>
        </div>

        <div class="info-main">
            <a href="#home">Trang chủ</a> | <a href="#about">Giới thiệu</a> | <a href="#contact">Liên hệ</a> | <i
                class="icon-search"></i>
        </div>
    </div>

    <div class="banner_logo">
        <div class="top">
            <a href="#lg" class="logo"><img src="../img/lg.png" alt=""></a>
            <a href="#ad" class="ad"><img src="../img/ad.png" alt=""></a>
        </div>
    </div>
</header>

<nav>
    <ul class="menu">
        <li style="background-color: #c73324;">Thời sự</li>
        <li>Pháp luật<i class="icon-down-open"></i></li>
        <li>Kinh tế<i class="icon-down-open"></i></li>
        <li>Bất động sản<i class="icon-down-open"></i></li>
        <li>Văn hóa<i class="icon-down-open"></i></li>
        <li>Quốc tế<i class="icon-down-open"></i></li>
        <li>Doanh nghiệp<i class="icon-down-open"></i></li>
        <li>Video<i class="icon-down-open"></i></li>
    </ul>
</nav>

<body>
    <div class="banner">
        <a href="#banner"><img src="../img/banner.png" alt=""></a>
        <h3><b>THỜI SỰ</b></h3>
        <div class="page">
            <p>Trang chủ / Thời sự / Mục 1</p>
        </div>
    </div>

    <div class="container">
        <div class="left-container">
            <h1>Có nên quy định trần lãi suất trong Bộ luật Dân sự (sửa đổi)?</h1>

            <div class="about">
                <i class="icon-chat"></i><a href="#comment">1,1k</a>
                <i class="icon-share"></i><a href="#share">204</a>

                <h2><b>Việt Nam</b></h2> |
                <p>Thứ 2, ngày 26/8/2024 5:26 GMT+7</p>
                <i class="icon-print"></i>
            </div>

            <div class="content">
                <h3>Thủ tướng yêu cầu đẩy mạnh xuất khẩu, kiểm soát chặt chế nhập khẩu để giảm nhập siêu.</h3>
                <i class="icon-right-open-1"></i><a href="#more">Áp trần lãi suất trong luật Dân sự là “nhầm lẫn nghiêm
                    trọng”?</a>
                <p>
                    Tình hình hiện nay đã có thay đổi. Nếu như trước đây, BLHS quy định tội cho vay nặng lãi trên cơ sở
                    quy
                    định tại BLDS, thì hiện giờ, BLHS đã có quy định riêng về tội này. Chẳng hạn, nếu vay 1 đồng mà lấy
                    lãi
                    gần 1 đồng tức là cho vay nặng lãi, hay mức thu lãi từ 30 triệu đồng trở lên thì sẽ truy cứu trách
                    nhiệm
                    hình sự. Rõ ràng BLHS quy định như vậy là được, song vẫn cần quy định thêm ở BLDS bởi nó khiến cho
                    những
                    người đi áp lực phải ký những hợp đồng vay quá lớn. Tuy nhiên, nếu bỏ chuyện liên quan đến khối ngân
                    hàng, nếu BLHS quy định 100% thì BLDS chỉ nên quy định 20%, tức giảm 5 lần, song cần phải cân nhắc
                    chỗ
                    này vì nó liên quan đến biến động lạm phát. Làm phát đã 1% rồi thì lãi suất: 20% là không có gì
                    nhiều.
                </p>

                <p>
                    Tuy nhiên, nếu vẫn để quy định này tại dự thảo BLDS sửa đổi thì thực tế nó vẫn trói buộc hoạt động
                    chuyên môn của các tổ chức tín dụng và mẫu thuẫn với quy định cho phép tự do thỏa thuận về lãi suất
                    của
                    Luật Các tổ chức tín dụng. Ông nghĩ sao về vấn đề này?
                </p>

                <p>
                    Đúng như vậy. Cho nên tôi nghĩ là cần cân nhắc không nên quy định chi tiết vào trong BLDS như một
                    điều
                    kiên trói buộc nữa, bởi nguyên tắc của hợp đồng là tự nguyện. Nếu vi phạm thì BLHS đã có điều luật
                    cấm
                    thì hợp đồng vô hiệu tuyệt đối. Điều này dẫn tới tình trạng khi cần vay sẵn sàng vay với lãi suất
                    cao,
                    nhưng đến khi trả nợ lại căn cứ luật để làm vô hiệu hóa hợp đồng vay. Do đó, cần phải cân nhắc rất
                    kỹ về
                    vấn đề này.
                </p>
            </div>

            <div class="more">
                <a href="#xemthem">Xem thêm <i class="icon-down-open"></i></a>
            </div>

            <div class="share">
                <h3>Chia sẻ: </h3>
                <i class="icon-facebook-circled"></i>
                <i class="icon-twitter-circled"></i>
                <i class="icon-google-plus-circle"></i>
                <i class="icon-bookmark-empty"></i>
            </div>

            <div class="role">
                <p>Bộ Tài chính</p>
                <p>Người Tiêu dùng</p>
            </div>

            <div class="feedback">
                <h3>Ý kiến bạn đọc (6)</h3>
                <div class="a-category">
                    <a href="#moi">Mới nhất</a> |
                    <a href="#care">Quan tâm nhất</a>
                </div>
            </div>

            <div class="input-feedback">
                <label for="fb" hidden>Ý kiến</label>
                <textarea name="" id="fb" class="area" placeholder="Ý kiến"></textarea>
            </div>

            <div class="reply">
                <a href="##">Trả lời</a>
            </div>

            <div class="information">
                <div class="title-category">
                    <h2>ĐẤT ĐAI</h2>
                    <div class="law">
                        <a href="#dat" style="font-weight: bold; opacity: 1; color: #df4b38;">Luật đất đai</a> | <a
                            href="###">Kiện tụng</a> | <a href="##">Dân sự</a> <i class="icon-angle-left"></i> <i
                            class="icon-angle-right"></i>
                    </div>
                </div>
                <div class="line">
                    <hr class="red">
                    <hr class="black">
                </div>
            </div>

            <div class="content-law">
                <div class="left">
                    <img src="../img/new1.jpg" alt="">
                    <h3>Cáo buộc ông Đinh La Thăng khai báo chưa thành khẩn</h3>
                    <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                    <p>Cơ quan điều tra cáo buộc ông Đinh La Thăng khai báo chưa thành khẩn, né tránh trách nhiệm, hợp
                        thức hóa tài liệu để đối phó</p>
                </div>
                <div class="right">
                    <div class="section">
                        <img src="../img/new2.jpg" alt="">
                        <div>
                            <h3>Phó chủ tịch Thanh Hóa không có tên trên lịch công tác sau khi bị kỉ luật</h3>
                            <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                        </div>
                    </div>
                    <div class="section">
                        <img src="../img/new3.jpg" alt="">
                        <div>
                            <h3>Người chém tài xê sau vụ cẩu ô tô ở BOT Cai Lậy được trả tự do</h3>
                            <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                        </div>
                    </div>
                    <div class="section">
                        <img src="../img/new4.jpg" alt="">
                        <div>
                            <h3>Phó chủ tịch Thanh Hóa không có tên trên lịch công tác sau khi bị kỉ luật</h3>
                            <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="information">
                <div class="title-category">
                    <h2>HÔN NHÂN</h2>
                    <div class="law">
                        <a href="#dat" style="font-weight: bold; opacity: 1; color: #df4b38;">Đồng giới</a> | <a
                            href="###">Kiện tụng</a> | <a href="##">Luật hôn nhân</a> <i class="icon-angle-left"></i> <i
                            class="icon-angle-right"></i>
                    </div>
                </div>
                <div class="line">
                    <hr class="red">
                    <hr class="black">
                </div>
            </div>

            <div class="content-law">
                <div class="left">
                    <img src="../img/new5.jpg" alt="">
                    <h3>7 năm tiêu dè sẻn dù lương tăng gấp 3, vợ chồng tôi có nhà, có xe</h3>
                    <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                    <p>Cơ quan điều tra cáo buộc ông Đinh La Thăng khai báo chưa thành khẩn, né tránh trách nhiệm, hợp
                        thức hóa tài liệu để đối phó</p>
                </div>
                <div class="right">
                    <div class="section">
                        <img src="../img/new6.jpg" alt="">
                        <div>
                            <h3>Phó chủ tịch Thanh Hóa không có tên trên lịch công tác sau khi bị kỉ luật</h3>
                            <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                        </div>
                    </div>
                    <div class="section">
                        <img src="../img/new7.jpg" alt="">
                        <div>
                            <h3>Người chém tài xê sau vụ cẩu ô tô ở BOT Cai Lậy được trả tự do</h3>
                            <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                        </div>
                    </div>
                    <div class="section">
                        <img src="../img/new8.jpg" alt="">
                        <div>
                            <h3>Phó chủ tịch Thanh Hóa không có tên trên lịch công tác sau khi bị kỉ luật</h3>
                            <span><i class="icon-clock"></i>Thứ 4, 27/12/2017</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ---------------------------------------------- -->
        <!-- ---------------------------------------------- -->

        <div class="vertical-line"></div>

        <div class="right-container">
            <h3>GIỚI THIỆU</h3>
            <div class="hozirontal-line">
                <hr class="red">
                <hr class="black">
            </div>

            <p>là website đầu tiên tại Việt Nam đi sâu vào lĩnh vực xây dựng, tập hợp hệ thống văn bản quy phạm pháp
                luật do nước Cộng hòa xã hội chủ nghĩa Việt Nam ban hành từ ngày thành lập nước (1945) đến nay.
            </p>

            <h3>HỎI NHIỀU</h3>
            <div class="hozirontal-line">
                <hr class="red">
                <hr class="black">
            </div>
            <div class="more-info">
                <ul class="news">
                    <li>
                        <div class="title">
                            <span class="number">1</span>
                            <div class="space-line">
                                <hr>
                            </div>
                            <h3><a href="####">Khi Nhà nước thu hồi đất mà các tổ chức, cá nhân phải di chuyển tài
                                    sản</a></h3>
                        </div>
                        <hr class="hr-end">
                    </li>
                    <li>
                        <div class="title">
                            <span class="number">2</span>
                            <div class="space-line">
                                <hr>
                            </div>
                            <h3><a href="##">Chi trả tiền bồi thường, hỗ trợ, tái định cư được quy định như thế
                                    nào?</a></h3>
                        </div>
                        <hr class="hr-end">
                    </li>
                    <li>
                        <div class="title"><span class="number">3</span>
                            <div class="space-line">
                                <hr>
                            </div>
                            <h3><a href="###">Đăng ký đất đai là gì? và được thực hiện như thế nào?</a></h3>
                        </div>
                        <hr class="hr-end">
                    </li>
                    <li>
                        <div class="title"><span class="number">4</span>
                            <div class="space-line">
                                <hr>
                            </div>
                            <h3><a href="#####">Diện tích đất ở đối với trường hợp có vườn, ao được xác định như thế
                                    nào?</a></h3>
                        </div>
                        <hr class="hr-end">
                    </li>
                    <li>
                        <div class="title"><span class="number">5</span>
                            <div class="space-line">
                                <hr>
                            </div>
                            <h3><a href="#">Diện tích đất ở đối với trường hợp có vườn, ao được xác định như thế
                                    nào?</a></h3>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="ad1">
                <img src="../img/ad1.jpg" alt="">
            </div>

            <h3>CÂU HỎI TRONG TUẦN</h3>
            <div class="hozirontal-line">
                <hr class="red">
                <hr class="black">
            </div>

            <div class="faq">
                <ul class="faq-list">
                    <li>
                        <div class="detail">
                            <div>
                                <span>1</span>
                                <div class="hr-start"></div>
                            </div>
                            <div class="item">
                                <h3>Khi Nhà nước thu hồi đất mà các tổ chức, cá nhân phải di chuyển tài sản thì Nhà nước
                                    sẽ bồi thường những gì?</h3>
                                <p>Theo Khoản 1 Điều 91 Luật đất đai năm 2013 việc bồi thường chi phí di chuyển khi Nhà
                                    nước thu hồi đất như sau: <a href="#docthem"><i class="icon-plus-circled"></i></a>
                                </p>
                            </div>
                        </div>
                        <hr class="hr-end2">
                    </li>
                    <li>
                        <div class="detail">
                            <div>
                                <span>2</span>
                                <div class="hr-start"></div>
                            </div>
                            <div class="item">
                                <h3>Chi trả tiền bồi thường, hỗ trợ, tái định cư được quy định như thế nào? </h3>
                                <p>Theo khoản 1 điều 91 Luật đất đai năm 2013 việc bồi thường chi phí di chuyển khi Nhà
                                    nước thu hồi đất như sau: <a href="##"><i class="icon-plus-circled"></i></a></p>
                            </div>
                        </div>
                        <hr class="hr-end2">
                    </li>
                    <li>
                        <div class="detail">
                            <div>
                                <span>3</span>
                                <div class="hr-start"></div>
                            </div>
                            <div class="item">
                                <div class="item">
                                    <h3>Chi trả tiền bồi thường, hỗ trợ, tái định cư được quy định như thế nào? </h3>
                                    <p>Theo khoản 1 điều 91 Luật đất đai năm 2013 việc bồi thường chi phí di chuyển khi
                                        Nhà nước thu hồi đất như sau: <a href="##"><i class="icon-plus-circled"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-end2">
                    </li>
                    <li>
                        <div class="detail">
                            <div>
                                <span>4</span>
                                <div class="hr-start"></div>
                            </div>
                            <div class="item">
                                <div class="item">
                                    <h3>Chi trả tiền bồi thường, hỗ trợ, tái định cư được quy định như thế nào? </h3>
                                    <p>Theo khoản 1 điều 91 Luật đất đai năm 2013 việc bồi thường chi phí di chuyển khi
                                        Nhà nước thu hồi đất ffff fffffffffff fffff fffff ffff fffff ffff ffffff fff
                                        fffffff fff
                                        như sau: <a href="##"><i class="icon-plus-circled"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-end2">
                    </li>
                    <li>
                        <div class="detail">
                            <div>
                                <span>5</span>
                                <div class="hr-start"></div>
                            </div>
                            <div class="item">
                                <div class="item">
                                    <h3>Chi trả tiền bồi thường, hỗ trợ, tái định cư được quy định như thế nào? </h3>
                                    <p>Theo khoản 1 điều 91 Luật đất đai năm 2013 việc bồi thường chi phí di chuyển khi
                                        Nhà nước thu hồi đất như sau: <a href="##"><i class="icon-plus-circled"></i></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <h3>VẤN ĐỀ NÓNG</h3>
            <div class="hozirontal-line">
                <hr class="red">
                <hr class="black">
            </div>


            <div class="hot-news">
                <div class="hot-info">
                    <img src="../img/hn_pic1.png" alt="">
                    <p>Khi Nhà nước thu hồi đất mà các tổ chức, cá nhân phải di chuyển tài sản thì</p>
                </div>
                <hr>
                <div class="hot-info">
                    <img src="../img/hn_pic2.png" alt="">
                    <p>Chính sách Bảo hiểm xã hội năm 2018 có gì mới?</p>
                </div>
                <hr>
                <div class="hot-info">
                    <img src="../img/hn_pic3.png" alt="">
                    <p>05 trường hợp cảnh sát giao thông được yêu cầu dừng xe</p>
                </div>
                <hr>
                <div class="hot-info">
                    <img src="../img/hn_pic4.png" alt="">
                    <p>Khi Nhà nước thu hồi đất mà các tổ chức, cá nhân phải di chuyển tài sản thì</p>
                </div>
                <hr>
                <div class="hot-info">
                    <img src="../img/hn_pic5.png" alt="">
                    <p>Chính sách Bảo hiểm xã hội năm 2018 có gì mới?</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content2">
        <div class="main-content">
            <div class="information">
                <div class="title-category">
                    <h2>VIDEO NỔI BẬT</h2>
                    <div class="icon-video">
                        <i class="icon-angle-left"></i> <i class="icon-angle-right"></i>
                    </div>
                </div>
                <div class="line">
                    <hr class="red">
                    <hr class="black">
                </div>
            </div>

            <div class="detail-content2">
                <div class="left-detail">
                    <img src="../img/video1.png" alt="">
                </div>
                <div class="right-detail">
                    <img src="../img/video2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>